<div class="headerContainer">
    <div class="primary-header">
        <div class="logos">
            <i class="bi bi-linkedin"></i>
            <i class="bi bi-twitter"></i>
        </div>
        <div class="login">
            <i class="bi bi-person-fill"></i>
            Client Login
        </div>
    </div>
    <div class="nav-header">
        <div class="logo">
            <img src="assets/cite-logo.jpg" alt="Logo" />
        </div>
        <div class="nav-menu-list">
            <div class="about">about</div>
            <div class="products-and-services">Products & Services</div>
            <div class="news">news</div>
            <div class="contact">contact</div>
            <i class="bi bi-search"></i>
        </div>
    </div>
</div>
