.headerContainer{
    background-color: white;
    height: auto;
    position: sticky;
    top: 0;
    z-index: 10;
    transition: 0.5s;
    .primary-header{
        display: flex;
        height: 64px;
        background-color: #EAB200;
        .logos{
            width: 46%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            font-size: 19px;
            color: white;
            padding-left: 33px;
            button{
                color: white;
                border: 0px;
                background: transparent;
            }
        }
        .login{
            width: 54%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 19px;
            color: white;
        }
    }
    .nav-header{
        position: sticky;
        top: 0;
        z-index: 9999;
        height: 115px;
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 2px solid #21215D;
        .logo{
            display: flex;
            justify-content: center;
            width: 50%;
            img{
                width: 140px;
                height: 100px;
                padding-right: 58px;
            }
        }
        .nav-menu-list{
            display: flex;
            width: 50%;
            gap: 25px;
            font-size: 16px;
            color: #666666;
            text-transform: uppercase;
            .item{
                color:white;
                padding: 15px;
                transition: 0.5s;
            }.item:hover{
                color:#d5aa6d;
                background-color: black;
            }
            .dropdown-list{
                position: absolute;
                background-color: #21215D;
                width: auto;
                top: 67px;
            }
            .about{
                transition: 0.5s;
                padding-bottom: 5px;
                border-bottom: 2px solid transparent;
            }.about:hover{
                border-bottom: 2px solid #EAB200;
            }
            .products-and-services{
                transition: 0.5s;
                padding-bottom: 5px;
                border-bottom: 2px solid transparent;
            }.products-and-services:hover{
                border-bottom: 2px solid #EAB200;
            }
            .news{
                transition: 0.5s;
                padding-bottom: 5px;
                border-bottom: 2px solid transparent;
            }.news:hover{
                border-bottom: 2px solid #EAB200;
            }
            .contact{
                transition: 0.5s;
                padding-bottom: 5px;
                border-bottom: 2px solid transparent;
                button{
                    background-color: transparent;
                    border: 0px;
                    font-size: 16px;
                    color: #666666;
                    text-transform: uppercase;
                }
            }.contact:hover{
                border-bottom: 2px solid #EAB200;
            }
            .search{
                transition: 0.5s;
                
            }
        }
    }
}